header {
  color: brown;
  margin-left: 20px;
  height: 40px;
}
.main-container {
  display: flex;
  /* background-color: rgb(167, 158, 158); */
  padding: 5px 50px;
  gap: 10px;
}
.video-section {
  width: 60%;
}
.video-player {
  background-color: red;
  color: red;
  height: 150px;
  border-radius: 10px;
}
.video-description > h1 {
  font-size: 10px;
  margin-top: 5px;
}
.video-description > p {
  font-size: 8px;
  margin-top: 5px;
}
.comments {
  font-size: 8px;
}
.comments > h2 {
  font-size: 10px;
}
.recommendations {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 40%;
}
.recommendation {
  display: flex;
  font-size: 10px;
}
.box {
  min-width: 60%;
  height: 50px;
  background-color: red;
  border-radius: 10px;
  color: red;
}
